@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans font-bold;
  }

  p {
    @apply font-sans font-normal leading-loose;
  }

  button,
  a {
    @apply font-sans font-semibold;
  }
}

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;

  --color-cream: #f4d2b3; /*peach background*/
  --color-teal: #64c7d1; /*primary accent*/
  --color-coral: #e59190; /* rose/pink accent */
  --color-steel: #668ea5; /*blue/gray body text */
  --color-navy: #1a3b58; /*headline/primary text */
  --color-peach: #f4d2b3; /*light peach background */
}

@layer utilities {
  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-up {
    animation: fade-in-up 1s ease-out forwards;
    animation-fill-mode: forwards;
  }

  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-fade-in-scale {
    animation: fade-in-scale 1s ease-out forwards;
    animation-fill-mode: forwards;
  }
  .delay-400 {
    animation-delay: 400ms;
  }
  .delay-600 {
    animation-delay: 600ms;
  }
  .delay-800 {
    animation-delay: 800ms;
  }
  .delay-1000 {
    animation-delay: 1000ms;
  }
}
